### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
## Local Government Area Summary

# Total schools
totalSchools=len(school_data["School ID"].unique())
# Total students
totalStudents=len(student_data["Student ID"].drop_duplicates().dropna())
# Total budget
totalBudget=school_data["budget"].sum()

# Average maths score
averageMaths=student_data["maths_score"].mean()
# Average reading score
averageReading=student_data["reading_score"].mean()

# % passing maths (the percentage of students who passed maths)
passMaths_df=student_data["maths_score"] >= 50
passMathsPercent=passMaths_df.sum() / totalStudents * 100

# % passing reading (the percentage of students who passed reading)
passReading_df=student_data["reading_score"] >= 50
passReadingPercent=passReading_df.sum() / totalStudents * 100

# % overall passing (the percentage of students who passed maths AND reading)
passOverall_df=((student_data["maths_score"] >= 50 ) & (student_data["reading_score"] >= 50 ))
passOverallPercent=passOverall_df.sum() / totalStudents * 100

In [3]:
# Create a dataframe to hold the above results
summary=[{"Total Schools":totalSchools,"Total Students":totalStudents,"Total Budget":totalBudget,"Average Maths Score":averageMaths,\
    "Average Reading score":averageReading,"% Passing Maths":passMathsPercent,"% Passing Reading ":passReadingPercent,\
    "% Overall Passing":passOverallPercent}]
summary=pd.DataFrame(summary)

# Give the displayed data cleaner formatting
summary['Total Students']=summary['Total Students'].astype(int).map('{0:,.0f}'.format)
summary['Total Budget']=summary['Total Budget'].astype(int).map('${0:,.0f}'.format)

summary

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428",70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [4]:
## School Summary

# Make a school group group by school name
school_group=school_data_complete.groupby(["school_name"],as_index=False)

# Calc simple columns that can use the statistics function, and rename
school_summary=school_group.agg({'type':'unique','Student ID':'count','budget':'unique','maths_score':'mean','reading_score':'mean'})\
    .rename(columns={"school_name":"School Name","Student ID":"Total Students","type":"School Type","budget":"Total School Budget",\
        "maths_score":"Average Maths Score","reading_score":"Average Reading Score"})

In [5]:
# Remove the special character
school_summary['School Type']=school_summary['School Type'].astype(str).str.replace(r'\[|\]|\'', '')
school_summary['Total School Budget']=school_summary['Total School Budget'].astype(str).str.replace(r'\[|\]|\.', '')

# Format the budget with '$'
school_summary['Total School Budget']=school_summary['Total School Budget'].astype(int).map('${0:,.0f}'.format)

In [6]:
# Calc per student budget use apply()
def per_student_b(x):
    df = x['budget'].unique() / x['Student ID'].count()
    return df

per_student_budget=school_group.apply(per_student_b)

# Remove the special character
per_student_budget=per_student_budget.astype(str).str.replace(r'\[|\]|\.', '')
# Format the per student budget with '$'
per_student_budget=per_student_budget.astype(int).map('${0:,.0f}'.format)

In [7]:
# Calc percent of passing maths 
def percent_passing_m(x):
    df = (x['maths_score'] >= 50).sum() / x['Student ID'].count() * 100
    return df

percent_passing_maths=school_group.apply(percent_passing_m)

In [8]:
# Calc percent of passing reading
def percent_passing_r(x):
    df = (x['reading_score'] >= 50).sum() / x['Student ID'].count() * 100
    return df

percent_passing_reading=school_group.apply(percent_passing_r)

In [9]:
# Calc percent of overall passing
def percent_passing_o(x):
    df = ((x['maths_score'] >= 50) & (x['reading_score'] >= 50)).sum() / x['Student ID'].count() * 100
    return df

percent_passing_overall=school_group.apply(percent_passing_o)

In [10]:
# Make a New DataFrame add per student budget, passing maths, passing reading and overall passing
school_summary_group=school_summary.copy()
school_summary_group.insert(4,'Per Student Budget',per_student_budget)
school_summary_group['% Passing Maths']=percent_passing_maths
school_summary_group['% Passing Reading']=percent_passing_reading
school_summary_group['% Overall Passing']=percent_passing_overall

school_summary_group.style.hide_index()

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [11]:
## Top Performing Schools

# Sort by overall passing
top5=school_summary_group.sort_values("% Overall Passing",ascending=False).head(5)

#top5.reset_index(inplace=True, drop=True)
top5.style.hide_index()

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [12]:
## Bottom Performing Schools

# Sort by overall passing with ascending=True
bottom5=school_summary_group.sort_values("% Overall Passing",ascending=True).head(5)

#bottom5.reset_index(inplace=True, drop=True)
bottom5.style.hide_index()

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [13]:
## Maths Scores by Year 

# Make a maths group group by school name, year
yeargroup=school_data_complete.groupby(["school_name","year"],as_index=False)
# Average maths score
yearmaths=yeargroup.agg({'maths_score':'mean'})
# Get school name series
school_name=yearmaths['school_name'].unique()

# Get Year9, Year10, Year11, Year12's average maths score series
year9maths=yearmaths['maths_score'][yearmaths['year']==9]
year10maths=yearmaths['maths_score'][yearmaths['year']==10]
year11maths=yearmaths['maths_score'][yearmaths['year']==11]
year12maths=yearmaths['maths_score'][yearmaths['year']==12]

# Make a new DataFrame for output
data={'':school_name,'Year 9':year9maths.values,'Year 10':year10maths.values,'Year 11':year11maths.values,'Year 12':year12maths.values}
mathsummary=pd.DataFrame(data)

mathsummary.style.hide_index()

## Reading Score by Year

* Perform the same operations as above for reading scores

In [14]:
## Maths Scores by Year 

# Make a reading group group by school name, year
yeargroup=school_data_complete.groupby(["school_name","year"],as_index=False)
# Average reading score
yearreading=yeargroup.agg({'reading_score':'mean'})
# Get school name series
school_name=yearreading['school_name'].unique()

# Get Year9, Year10, Year11, Year12's average reading score series
year9reading=yearreading['reading_score'][yearreading['year']==9]
year10reading=yearreading['reading_score'][yearreading['year']==10]
year11reading=yearreading['reading_score'][yearreading['year']==11]
year12reading=yearreading['reading_score'][yearreading['year']==12]

# Make a new DataFrame for output
data={'':school_name,'Year 9':year9reading.values,'Year 10':year10reading.values,'Year 11':year11reading.values,'Year 12':year12reading.values}
readingummary=pd.DataFrame(data)

readingummary.style.hide_index()

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [15]:
## Scores by School Spending

# Bin labels list
bin_labels=['<$585','$585-$630','$630-$645','$645-$680']
# Build a new DataFrame
school_spending = pd.DataFrame(school_summary_group, columns=['Per Student Budget','Average Maths Score','Average Reading Score',\
    '% Passing Maths','% Passing Reading','% Overall Passing'])
# remove special character
school_spending['Per Student Budget']=school_spending['Per Student Budget'].str.replace(r'$','')

# cut to 4 bins by per student budget
school_spending['Spending Range (Per Student)'] = pd.cut(school_spending['Per Student Budget'].astype(int),[500,585,630,645,680],labels=bin_labels)

# Group by spending range and average all
spending_group=school_spending.groupby(['Spending Range (Per Student)'])
spending=spending_group.mean().style.format('{0:,.2f}')
spending

### Decription:
Based on the "Scores by School Spending", We can observe the costly school group having a poor average score and passing rate. The Best spending range __between $585 to $630__, with the highest score and highest passing rate. The second best school group, their budget is less than $585.

## Scores by School Size

* Perform the same operations as above, based on school size.

In [16]:
## Scores by School Spending

# Bin labels list
bin_labels=['Small (<1000)','Medium (1000-2000)','Large (2000-5000)	']
# Build a new DataFrame
school_size = pd.DataFrame(school_summary_group, columns=['Total Students','Average Maths Score','Average Reading Score',\
    '% Passing Maths','% Passing Reading','% Overall Passing'])

# Cut to 3 bins by per student budget
school_size['School Size'] = pd.cut(school_size['Total Students'].astype(int),[100,1000,2000,5000],labels=bin_labels)

# Group by school size and average all
size_group=school_size.groupby(['School Size'])
school_size=size_group[['Average Maths Score','Average Reading Score','% Passing Maths','% Passing Reading',\
    '% Overall Passing']].mean().style.format('{0:,.2f}')
school_size

### Decription:
We observe a trend that __small school__ group got the __best score__ and passing rate according "Scores by School Size", whatever maths score, reading score and all passing rate. The large school that more than 2000 students, got the worst score and passing rate.

## Scores by School Type

* Perform the same operations as above, based on school type

In [17]:
## Scores by School Spending

# Build a new DataFrame
school_type = pd.DataFrame(school_summary_group, columns=['School Type','Average Maths Score','Average Reading Score',\
    '% Passing Maths','% Passing Reading','% Overall Passing'])

# Group by school type and average all
school_type_group=school_type.groupby(['School Type'])
school_type=school_type_group.mean().style.format('{0:,.2f}')
school_type

### Desciption:
The independent school have a better result than govenment school.